/* Basic Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

body, .section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Slideshow Background */
body {
    background-size: cover;
    background-position: center;
    animation: changeBackground 150s infinite;
}

@keyframes changeBackground {
    0% { background-image: url('advice_img-1.jpg'); }
    20% { background-image: url('advice_img-1.jpg'); }
    20.01% { background-image: url('advice_img-2.jpg'); }
    40% { background-image: url('advice_img-2.jpg'); }
    40.01% { background-image: url('advice_img-3.jpg'); }
    60% { background-image: url('advice_img-3.jpg'); }
    60.01% { background-image: url('advice_img-4.jpg'); }
    80% { background-image: url('advice_img-4.jpg'); }
    80.01% { background-image: url('advice_img-5.jpg'); }
    100% { background-image: url('advice_img-5.jpg'); }
}

/* Page Styling */
.page {
    width: 32vw;
    height: 38vh;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent to blend with background */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.adviceno {
    font-size: 1.2rem;
    font-weight: bold;
    color: lightgreen;
    letter-spacing: 5px;
}

.author {
    font-weight: bold;
    font-size: 1.8rem;
    color: lightblue;
}

.advice {
    width: 100%;
    text-align: center;
}

.divider {
    background: url("pattern-divider-desktop.svg") no-repeat center;
    background-size: contain;
    height: 15px;
    width: 80%;
}

.change {
    position: relative;
    padding: 25px;
    background: rgb(17, 212, 66);
    border-radius: 50%;
    cursor: pointer;
}

.imgIcon {
    width: 20px;
    height: 20px;
}

/* Mobile Styling */
@media screen and (max-width: 325px) {
    .adviceno {
        font-size: 0.8rem;
    }
    .divider {
        background: url("pattern-divider-mobile.svg") no-repeat center;
        height: 20px;
        width: 80%;
    }
    .page {
        width: 90vw;
        height: 50vh;
    }
    .author {
        font-size: 1.5rem;
    }
    .imgIcon {
        width: 40px;
        height: 40px;
    }
}
